/**
 * SonataAdminBundle Theme based on SB Admin v2.0
 * http://startbootstrap.com/templates/sb-admin-v2/
*/

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #333;
}

footer p {
    margin: 0;
}

footer a {
    color: #f6f6f6;
}

body > .header .logo {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo img {
    display: inline;
    padding-bottom: 4px;
    max-height: 100%;
}

.logo span {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    width: 200px;
}
.logo img + span { width: 140px; }

.open > .dropdown-menu {
    animation-duration: .3s;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s;
}

/* Buttons */

.btn.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn.btn-primary.btn-outline:hover,
.btn.btn-success.btn-outline:hover,
.btn.btn-info.btn-outline:hover,
.btn.btn-warning.btn-outline:hover,
.btn.btn-danger.btn-outline:hover {
    color: #fff;
}



/* navigation */

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

.navbar-brand {
    padding-right: 20px;
}

.navbar-brand img {
    height: 28px;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
}

.navbar-text .navbar-link {
    padding: 0 10px;
}

.right-side > .content-header {
    padding-bottom: 0;
}

.content-header .navbar {
    margin-bottom: 0;
}

.content-header .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

/* breadcrumb */

.sonata-bc .breadcrumb {
    padding: 0;
    margin: 0;
    background: inherit;
    float:left;
}

.sonata-bc .breadcrumb li a {
    display: inline-block;
}

/* MEGA MENU STYLE
********************************/
.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    min-width:100px;
}

.dropdown-add .dropdown-menu > li > a {
    white-space: normal;
    overflow: hidden;
}

/* top right */

.navbar-static-top {
    margin-bottom: 0;
}

.navbar-top-links > p,
.navbar-top-links > ul {
    float: right;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a,
.navbar-top-links li span {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links li a:hover {
    text-decoration: none;
}

.skin-black .navbar .breadcrumb > li  > a:hover {
    color: #444;
    background: #f5f5f5;
}

.skin-black .navbar .dropdown-menu > li > a:hover {
    background-color: #f5f5f5;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Content navbar */

body.fixed .content-header .navbar {
    position: relative;
}

/* sidebar menu styles */

.sidebar-search {
    padding: 15px;
}

.sidebar-menu li.keep-open > .treeview-menu {
    display: block !important;
    height: auto !important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}


/* Admin table */

table.sonata-ba-list {
    font-size: 14px;
}

table.sonata-ba-list img {
    max-width: 100%;
    height: auto;
}

table.sonata-ba-list td {
    overflow: auto;
}

td.sonata-ba-list-label {
    color: #565656;
    font-weight: bold;
    text-align: right;
    vertical-align: middle !important;
}

/* side filter */

.box .box-header h4.box-title.filter_legend {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

h4.filter_legend:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    left: 2px;
    margin-top: -2px;
    margin-left: 5px;
}

h4.filter_legend.active,
tr.filter.active * {
    font-weight: bold;
    color: #000;
}

form.sonata-filter-form.form-stacked {
    padding-left: 0;
}

body.fixed .sonata-list-table {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

/* Overrides */

/* x-editable */
td.sonata-ba-list-field .editable {
    cursor: pointer;
}
td.sonata-ba-list-field .btn.editable {
    border-bottom: solid 1px #BBB;
}
td.sonata-ba-list-field .editable-empty:not(.editable-open) {
    display: none;
}
.sonata-ba-list tr:hover .editable-empty {
    display: inline-block;
}
.editable-pre-wrapped {
    white-space: normal;
}
.editable-container .prev:before {
    content: "\2190 ";
}
.editable-container .next:before {
    content: "\2192 ";
}

/* bootstrap */
.input-group-addon {
    width: auto; /* See https://github.com/sonata-project/SonataAdminBundle/issues/2950 */
}

/**
 * Make checkbox / radio label consistant with other labels
 */
.checkbox label,
.radio label {
    font-weight: 700;
    margin-left: -20px;
}

/**
 * The iCheck checkboxes & radios have 0 margin by default,
 * add some space for the label text.
 */
.checkbox div[class^="icheckbox"],
.checkbox-inline div[class^="icheckbox"],
.radio div[class^="iradio"],
.radio-inline div[class^="iradio"] {
    position: relative;
    margin-top: 4px \9;
    margin-right: 5px;
    margin-top: -3px;
}
.form-inline .checkbox div[class^="icheckbox"],
.form-inline .checkbox-inline div[class^="icheckbox"],
.form-inline .radio div[class^="iradio"],
.form-inline .radio-inline div[class^="iradio"] {
    position: relative;
    margin-top: 4px \9;
    margin-left: 0;
    margin-right: 5px;
    margin-top: -3px;
}
/* Hide Delete checkbox on sonata_type_collection tables */
.sonata-ba-field-inline-table td > div.checkbox > label > .control-label__text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* select2 */
.select2-choice, .select2-choices, .select2-drop {
    border-radius: 0 !important;
}

/* Used for the mosaic view */
td > div.row {
    padding: 0;
    margin: 0;
}

div.mosaic-box {
    padding: 2px;
    border-radius: 3px;
}


div.mosaic-inner-box {
    position: relative;
}

div.mosaic-inner-box-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px 4px 0 0;
    background-color: rgba(255, 255, 255, .8);
    transition: .25s opacity;
    padding: 5px 10px;
}

div.mosaic-inner-box:hover > div.mosaic-inner-box-hover {
    opacity: 1;
}

div.mosaic-inner-box > div.mosaic-inner-box-hover {
    opacity: 0;
}

div.mosaic-inner-box img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

div.mosaic-box-outter {
    background-size: 100% auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

div.mosaic-inner-box {
    height: 100px;
    border-bottom: none;
    overflow: hidden;
}

div.mosaic-inner-text {
    background: white;
    border-top: none;
    padding: 3px;
    border-radius: 0 0 5px 5px;
    z-index: 2;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mosaic-inner-link {
    vertical-align: middle;
}

.mosaic-box-label {
    position: absolute;
    top: 10px;
    right: 10px;
}

div.mosaic-box.sonata-ba-list-row-selected > div.mosaic-inner-box {
    border: 1px solid #333;
    border-bottom: none;
}

div.mosaic-box.sonata-ba-list-row-selected > div.mosaic-inner-text {
    border: 1px solid #333;
    border-top: none;
}

div.sonata-filters-box div.form-group div.form-group {
    margin: 0;
}

div.sonata-filters-box div.form-group span.input-group-addon {
    padding: 3px 10px;
    font-size: 13px;
}

.sonata-search-result-hide {
    display: none;
}

.sonata-search-result-fade {
    opacity: 0.6;
}

.sonata-search-result-show {
    display: block;
}

body{background-color: #ecf0f1;}

.navbar-inverse {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
}
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 20px;
}
@media (min-width: 768px){

    .navbar {
        border-radius: 0px;
    }}

.navbar-brand {
    float: left;
    height: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.sidebar-toggle {
    color: #fff;
    font-size: 28px;
    display: inline-block;
    padding: 3px 22px;
}
@media (min-width:768px){
    .container-1{width:15%;float:left;}
    .container-2{width:100%;float: left;}
}

@media (max-width:768px){
    .container-1{width:100%;}
    .container-2{width:100%;}
}
.container-1:after,
.container-2:before
{
    display: table;
    content: " ";
}
.container-1:after,
.container-2:after
{clear: both;}

.container-1{display: none;}
/*navbar-right=====START==========*/

.social-icon{margin:0px;padding:0px;}
.social-icon li {margin: 0px;padding: 0px;list-style-type: none;}
.social-icon li a {
    display: block;
    padding: 15px 14px;
    text-decoration:none;
}
.social-icon li a:focus{
    color:#fff;
    text-decoration:none;
}

.messages-link{
    color: #fff !important;
    background: #16a085 !important;

}

.alerts-link{
    color: #fff !important;
    background: #f39c12 !important;

}

.tasks-link{
    color: #fff !important;
    background: #2980b9 !important;

}

.user-link{
    color: #fff !important;
    background: #E74C3C !important;

}
.number {
    position: absolute;
    bottom: 25px;
    left: 3px;
    width: 20px;
    height: 20px;
    padding-right: 1px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    background-color: #2c3e50;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -105px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/*navbar-right=======END========*/

/*sidebar-toggle=============*/
.sidebar-toggle:hover, .sidebar-toggle:focus {
    color: #fff;
    text-decoration: underline;
}


/*sidr-NAVBAR=======START========*/
.navbar-nav-1{width: 100%;background-color:#34495E;height:auto;overflow: hidden;z-index: 1020;position: relative;}

.side-user {
    display: block;
    width: 100%;
    padding: 15px;
    border-top: none !important;
    border-bottom: 1px solid #142638;
    text-align: center;
}
.close-btn {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 31px;
    top: 0px;
    left: 223px;
    display: none;
    padding: 0px;
    cursor: pointer;
}
.close-btn .fa-window-close{color:#fff;font-size: 25px;}
.welcome {
    margin: 0;
    font-style: italic;
    color: #9aa4af;
}

.name {
    margin: 0;
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ccd1d7;
}
.side-user a{
    color:#fff;
}
.nav-search{border-top: 1px solid #54677a;}
.nav-search .form-control{border: 1px solid #000;border-radius: 0px;}
.nav-search .btn{border: 1px solid #000;border-radius: 0px;}

.dashboard>a{
    color:#fff;
}
.side-nav li {
    border-top: 1px solid #54677a;
    border-bottom: 1px solid #142638;
}

.side-nav>li>a:active {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    outline: none;
    color: #fff;
    background-color: #34495e;
}

.panel {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.panel>a{
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff;
}

.panel>ul>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: darkcyan;
    background: black;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #3d566e;
}
/*sidr-NAVBAR=======END========*/
@media (min-width: 768px){

    #page-wrapper {

        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #2c3e50;
    }
}

#page-wrapper {
    padding: 0 15px;
    border: none;

}

.date-picker{
    border-color: #138871;
    color: #fff;
    background-color: #149077;
    margin-top: -7px;
    border-radius: 0px;
    margin-right: -15px;
}

#page-wrapper .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #e0e7e8;
    border-radius: 0px;

}




@media (min-width: 768px){
    .circle-tile {
        margin-bottom: 30px;
    }
}

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}

.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

.dark-blue {
    background-color: #34495e;
}

.green {
    background-color: #16a085;
}

.blue {
    background-color: #2980b9;
}

.orange {
    background-color: #f39c12;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

.dark-gray {
    background-color: #7f8c8d;
}

.light-blue {
    background-color: #f5f5ef;
}



.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f1c40f;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #16a085;
}

.text-blue {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}

.text-faded {
    color: #006bb3;
}



.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 50px;
}
.circle-tile-description {
    text-transform: uppercase;
}

.text-faded {
    color: #006bb3;
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}


.morning {
    background: url(https://lh3.googleusercontent.com/-1YbV7nsVnX8/WMugaq-6BEI/AAAAAAAADSg/0wPfQ84vMUcCle_SkgiUDOumUKscMaA8QCL0B/w530-d-h353-p-rw/widget-bg-morning.jpg) center bottom no-repeat;
    background-size: cover;
}

.time-widget {
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 1.75em;
}

.time-widget-heading {
    text-transform: uppercase;
    font-size: .5em;
    font-weight: 400;
    color: #fff;
}
#datetime{color:#fff;}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}

.tile {
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden;
    color: #fff;
}