{% extends 'AppBundle:Default:index.html.twig' %}
{% block pacientes %}
    <div class="panel panel-default">
        <div class="logo text-center panel-heading">
            <img src="{{ asset('bundles/app/image/acompanha101.png') }}" width="200px"/>
        </div>
    </div>
    <div class="autoplay" data-slick='{"slidesToShow": 1}'>
        {% set page = 1 %}
        {% for item in acompanhamentos %}
            {% set ico = item.setor.imageName %}

            {% if(loop.index == 1) or (loop.index-1) is divisible by(number_item) %}
                <div class="panel panel-default">
                <div class="panel-body">
            {% endif %}
            <div class="col-lg-3 col-sm-6 col-md-4 col-xs-6">
                <div class="circle-tile">
                    <a href="#">
                        <div class="circle-tile-heading light-blue">
                            <i class="fa">
                                <img width="50px" src="{{ asset('bundles/app/image/'~ico~'.png') }}"/>
                            </i>
                        </div>
                    </a>
                    <div class="circle-tile-content light-blue">
                        <div class="circle-tile-number text-faded">
                            {{ item.paciente }}
                            <span id="sparklineA"></span>
                        </div>
                        <div class="circle-tile-description text-bold">
                            {{ item.setor.nome }}
                        </div>
                    </div>
                </div>
            </div>
            {% if(loop.last  or loop.index is divisible by(number_item)) %}
                </div>
                <div class="panel-footer">Página {{ page }} de {{ pages }}</div>
                </div>
                {% set page = page + 1 %}
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}